/* ------fonts------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* -----Common styles----- */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main {
    padding: 3% 5% 0 5%;
}

/* ----top banner styles---- */
.top-banner {
    background: #054082;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    border-radius: 30px;
    padding: 20px 50px 0 50px;
}

.banner-text {
    width: 485px;
    padding: 0 0 40px 0;
}

.banner-text h1 {
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
    margin: 0 0 10px 0;
    font-weight: 700;
}

.banner-text p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.banner-btn {
    text-decoration: none;
    color: #FFFFFF;
    background: #DD0000;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: 600;
}

.banner-btn i {
    margin-left: 10px;
}

.banner-btn:hover {
    background: #e41212;
    box-shadow: 0px 2px 8px rgb(255, 83, 83);
}

.banner-img2 img {
    width: 468px;
}

.banner-img img {
    width: 529px;
}

.ball {
    position: absolute;
    width: 170px;
    opacity: .84;
    top: 100px;
    left: 510px;
}

.ball {
    animation: ball 1.5s linear infinite;
}

@keyframes ball {
    0% {
        
    transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ----blog section style---- */
.blog-container {
    margin: 100px 0 100px 0;
    display: flex;
    gap: 20px;
}

.side-manu {
    width: 312px;
    height: 312px;
    background: #054082;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.manu-btn {
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    text-align: center;
    line-height: 64px;
    border-radius: 5px;
}

.manu-btn:hover {
    box-shadow: 1px 1px 10px white;
}

.active-btn {
    background: #DD0000;
}

.manu-btn a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #161616;
    font-weight: 600;
}

.active-link {
    color: #FFFFFF !important;
}

/* ----blogs style-----  */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.blog {
    width: 279px;
    height: 362px;
    border: 1px solid #dbdbdb;
    border-radius: 11px;
}

.blog img {
    width: 100%;
}

.blog-info {
    padding: 10px 15px 15px 15px;
}

.blog-btn {
    width: 100px;
    height: 32px;
    border: 1px solid #969696;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
}

.blog-btn:hover {
    background: #e9e9e9;
}

.blog-btn a {
    text-decoration: none;
    font-size: 16px;
    color: #161616;
    font-weight: 500;
    display: block;
}

.blog-info h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 0 0;
}

.blog-component {
    display: flex;
    margin-top: 20px;
}

.blog-component div {
    margin-right: 30px;
    font-size: 16px;
    color: #161616b3;
}

.blog-component i {
    margin-right: 8px;
}

/* -------footer style-------- */
footer {
    padding: 130px 130px 130px 130px;
    background: #054082;
}

footer h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
}

footer hr {
    border-top: 1px solid #ffffff;
    opacity: .2;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 40px 0 0 0;
}

footer a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #B9B9B9;
}

footer ul:nth-child(4) li {
    background: #969696;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

footer ul:nth-child(4) li a {
    font-size: 30px;
    line-height: 50px;
    color: #054082;
}

.index-footer ul:nth-child(4) li a {
    color: #054082;
}

/* -------------------------------
    style for match.html file 
   ------------------------------- */

/* top banner style */
.top-banner-match {
    background: #084561;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 550px;
    border-radius: 30px;
    padding: 20px 50px 0 50px;
}

.match-banner-btn {
    background: #df083e;
}

.match-banner-btn:hover {
    background: #d6063a;
    box-shadow: 0px 2px 8px #79013d;
}

.ball2 {
    position: absolute;
    width: 100px;
    left: 1145px;
    top: 515px;
}

.ball2 {
    animation: ball 1.5s linear infinite;
}

/* -----Match style---- */
.match-container {
    margin: 100px 0 100px 0;
    display: flex;
    gap: 20px;
}

/*------- matchs ------- */
.match-manu-color{
    background: #084561;
}

.match-active-btn {
    background: #df083e;
}

.matchs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.match {
    width: 250px;
    height: 150px;
    border: 1px solid #dbdbdb;
    border-radius: 11px;
    padding: 30px 15px 30px 15px;
}

.team {
    display: flex;
    gap: 20px;
}

.match img {
    width: 100%;
}

.match-info {
    padding: 10px 15px 15px 15px;
}

.match-info h4 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.match-time {
    text-align: center;
    font-size: 16px;
    color: #4d4d4d;
}

/* --------footer style -------- */
.match-footer {
    background: #084561;
}

.match-footer ul:nth-child(4) li a {
    color: #084561;
}


/*------------------------------------------
   Responsive design for small device(index.html) 
------------------------------------------ */
@media only screen and (max-width:576px) {
    .top-banner {
        flex-direction: column;
    }

    .banner-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 10px 0;
    }

    .banner-text h1 {
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        margin: 0;
    }

    .banner-text p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        text-align: center;
        margin-bottom: 50px;
    }

    .banner-img img {
        width: 286px;
    }

    .ball {
        position: absolute;
        width: 50px;
        opacity: .84;
        top: 165px;
        left: 155px;
    }

    /* ---blog container--- */
    .blog-container {
        flex-direction: column;
        margin: 50px 0 50px 0;
        align-items: center;
    }

    .side-manu {
        background: none;
    }

    .manu-btn {
        border: 1px solid #a8a8a8;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ----footer style----- */
    footer {
        padding: 20px 15px 20px 15px;
    }

    footer ul:nth-child(3) {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    footer ul:nth-child(4) {
        padding: 0;
    }

    footer ul:nth-child(4) li {
        background: #969696;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
    }

    .index-footer ul:nth-child(4) li a {
        font-size: 15px;
        line-height: 30px;
        color: #054082;
    }
}








/*------------------------------------------
   Responsive design for small device(match.html) 
------------------------------------------ */
@media only screen and (max-width:576px) {
    
    .top-banner-match {
        flex-direction: column;
    }

    .top-banner-match p {
        margin: 10px 0 15px 0;
    }

    .banner-img2 img {
        width: 287px;
    }
    
    .ball2 {
        position: absolute;
        width: 65px;
        left: 266px;
        top: 520px;
    }

    .match-container {
        margin: 50px 0 50px 0;
        flex-direction: column;
        align-items: center;
    }

    .side-manu {
        justify-content: center;
    }

    .matchs {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .match-footer ul:nth-child(4) li a {
        font-size: 15px;
        line-height: 30px;
        color: #084561;
    }
}